// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{
  // background-image: url("http://cdn29.us1.fansshare.com/images/3dwallpaper/abstract-wallpaper-skull-hd-abstract-wallpaper-2098392950.jpg");
  // background-position: center;
  // background-repeat: no-repeat;

  div { position: relative; }

  img {
    position: absolute;
    top: 0; left: 0;
    z-index: 6;
    -webkit-animation: slideshow 12s linear 0s infinite;
    -moz-animation: slideshow 12s linear 0s infinite;
    -ms-animation: slideshow 12s linear 0s infinite;
    -o-animation: slideshow 12s linear 0s infinite;
    animation: slideshow 12s linear 0s infinite;
  }

  img:nth-child(2) {
    z-index: 5;
    -webkit-animation: slideshow 12s linear 4s infinite;
    -moz-animation: slideshow 12s linear 4s infinite;
    -ms-animation: slideshow 12s linear 4s infinite;
    -o-animation: slideshow 12s linear 4s infinite;
    animation: slideshow 12s linear 4s infinite;
  }

  img:nth-child(3) {
    z-index: 4;
    -webkit-animation: slideshow 12s linear 8s infinite;
    -moz-animation: slideshow 12s linear 8s infinite;
    -ms-animation: slideshow 12s linear 8s infinite;
    -o-animation: slideshow 12s linear 8s infinite;
    animation: slideshow 12s linear 8s infinite;
  }

  img:nth-child(4) {
    z-index: 4;
    -webkit-animation: slideshow 12s linear 8s infinite;
    -moz-animation: slideshow 12s linear 8s infinite;
    -ms-animation: slideshow 12s linear 8s infinite;
    -o-animation: slideshow 12s linear 8s infinite;
    animation: slideshow 12s linear 8s infinite;
  }

  img:nth-child(5) {
    z-index: 4;
    -webkit-animation: slideshow 12s linear 8s infinite;
    -moz-animation: slideshow 12s linear 8s infinite;
    -ms-animation: slideshow 12s linear 8s infinite;
    -o-animation: slideshow 12s linear 8s infinite;
    animation: slideshow 12s linear 8s infinite;
  }

  img:nth-child(6) {
    z-index: 4;
    -webkit-animation: slideshow 12s linear 8s infinite;
    -moz-animation: slideshow 12s linear 8s infinite;
    -ms-animation: slideshow 12s linear 8s infinite;
    -o-animation: slideshow 12s linear 8s infinite;
    animation: slideshow 12s linear 8s infinite;
  }

  @-webkit-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;}
    91.66% { opacity: 0;}
    100% { opacity: 1;}
  }
  @-moz-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;}
    91.66% { opacity: 0;}
    100% { opacity: 1;}
  }
  @-ms-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;}
    91.66% { opacity: 0;}
    100% { opacity: 1;}
  }
  @-o-keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;}
    91.66% { opacity: 0;}
    100% { opacity: 1;}
  }
  @keyframes slideshow {
    25% { opacity: 1;}
    33.33% { opacity: 0;}
    91.66% { opacity: 0;}
    100% { opacity: 1;}
  }
}
